{{- /* Work git identity — email from Keychain */ -}}
[user]
	name = Yehia Amer (MiddleEast)
	email = {{ keyring "work-email" "yamer003" }}
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
[merge]
	ff = true
[core]
	autocrlf = input
	sshCommand = "ssh -i ~/.ssh/id_ed25519 -o IdentitiesOnly=yes"
{{- if eq .os "darwin" }}
[credential]
	helper = osxkeychain
{{- else }}
[credential]
	helper = libsecret
{{- end }}
[http "http://localhost:19443/"]
	proxy = 
[url "http://localhost:19443/"]
	insteadOf = https://git.tech.rz.db.de/
